<div class="main">
  <ul class="bids">
    <% for bid in @bids %>
      <li>
        <%= bid.competition.name %> bid <%= bid.offering %> on <%= bid.dj.stage_name %>.
        <% if !voted?(bid, @ip) %>
          <%= form_for Vote.new do |v| %>
            <%= v.hidden_field :bid_id, value: bid.id %>
            <%= v.text_field :twitter, placeholder: 'your twitter. leave out the @' %>
            <%= v.submit "Upvote" %>
          <% end %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
<aside>
  <h3>Vote</h3>
  <p>
    When you vote for a bid, <%= link_to "@CollegeDesis", "//twitter.com/collegedesis" %> will tweet about it. If you put in your twitter handle (without the @), we'll mention you in it too. The more you vote, the more likely the DJ is to pick your bid.
  </p>
</aside>