<div class="main">
  <% if !@bids.empty? %>
    <ul class="bids">
      <% for bid in @bids %>
        <li>
          <p>
            <h4><%= bid.created_at.strftime(format='%B %e, %Y') %></h4>
            <%= bid.competition.name %> bid <em><%= bid.offering %></em> on <%= bid.dj.stage_name %>
          </p>
          <% if !voted?(bid, @ip) %>
            <%= form_for Vote.new do |v| %>
              <%= v.hidden_field :bid_id, value: bid.id %>
              twitter.com/<%= v.text_field :twitter, placeholder: 'optional' %>
              <%= v.submit "Upvote", class: 'submit' %>
            <% end %>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>No bids yet.</p>
  <% end %>
</div>


<aside>
  <h3>Vote</h3>
  <p>
    When you vote for a bid, <%= link_to "@CollegeDesis", "//twitter.com/collegedesis" %> will tweet about it.
  </p>
  <p>
    Put in your twitter handle (without the @), we'll mention you in it too.
  </p>
  <p>
    The more you vote, the more likely the DJ is to pick your bid.
  </p>
  <h3>Sponsors</h3>
  <p>
    <% if current_competition %>
      Hey <%= current_competition.name %>, <%= link_to "bid", djs_path %> for a DJ now!
    <% else %>
      <%= link_to "Sign In", new_competition_session_path %> to bid for a DJ!
    <% end %>
  </p>
</aside>