<div class="main">
  <p>
    When you vote for a bid, @CollegeDesis will tweet about it. If you put in your twitter handle (without the @), we'll mention you in it too.
  </p>
  <ul class="bids">
    <% for bid in @bids %>
      <li>
        <%= bid.competition.name %> bid <%= bid.offering %> on <%= bid.dj.stage_name %>.
        <% if !voted?(bid, @ip) %>
          <%= form_for Vote.new do |v| %>
            <%= v.hidden_field :bid_id, value: bid.id %>
            <%= v.text_field :twitter, placeholder: 'your twitter. leave out the @' %>
            <%= v.submit "Upvote" %>
          <% end %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>