<p><%=dj.full_name %>, otherwise known as <%= dj.stage_name %> can be found at these links:</p>
<ul id="links-#{dj.id}">
  <% if dj.twitter? %>
    <li><%= link_to image_tag("/assets/icons/twitter.png", size: '16x16'), "//twitter.com/#{dj.twitter}", target: '_blank' %></li>
  <% end %>
  <% if dj.facebook? %>
    <li><%= link_to image_tag("/assets/icons/facebook.png", size: '16x16'), "//facebook.com/#{dj.facebook}", target: '_blank' %></li>
  <% end %>
  <% if dj.soundcloud? %>
    <li><%= link_to image_tag("/assets/icons/soundcloud.png", size: '16x16'), "//soundcloud.com/#{dj.soundcloud}", target: '_blank' %></li>
  <% end %>
</ul>