<div class="main">
  <!-- <input class="search" id="search" type="text" placeholder="Search" autocomplete="off"> -->
  <% if current_competition %>
    <h2><%= current_competition.name %> bids</h2>
  <% end %>
  <ul class="djs">
    <% for dj in @djs %>
      <li class="djItem" data-name="<%= dj.full_name.parameterize %>" data-stage-name="<%= dj.stage_name.parameterize %>" >
        <div class="arrow" id="expand-<%=dj.id %>"></div>
        <% if current_competition %>
          <%= render partial: 'bid_form', locals: {dj: dj} %>
        <% else %>
          <p><%= link_to "Sign in", new_competition_session_url %> to bid on <%= dj.stage_name %></p>
        <% end %>
        <div class="info" id="info-<%=dj.id%>">
          <%= render partial: 'social_links', locals: {dj: dj} %>
        </div>
      </li>
    <% end %>
  </ul>
</div>

<aside>
  <h3>Party? What? Feb 10th, 2013</h3>
  <p>We're hosting an online party in collaboration with 8 amazing events and some of the best South Asian DJs in the country.<p>
  <p>Check out the <%= link_to "Facebook event", "//facebook.com/events" %>!</p>
  <p>Each event is sponsoring one hour of the party and using this website to bid for the hottest DJs to play during their hour.</p>
  <p>DJs will pick their favorite <%= link_to "offerings", bids_path %> at the end of this week.</p>
  <h3>Recent Bids</h3>
  <ul>
    <% for bid in @bids %>
      <li>
        <%= bid.competition.name %> bid <%= bid.offering %> on <%= bid.dj.stage_name %>.
      </li>
    <% end %>
  </ul>
</aside>