<input id="search" type="search" placeholder="Search DJs" autocomplete="off">
<ul class="djs">
  <% for dj in @djs%>
    <li class="djItem" data-name="<%= dj.full_name.parameterize %>" data-stage-name="<%= dj.stage_name.parameterize %>" >
      <h4><%= dj.stage_name %></h4>
      <span><%= dj.full_name %></span>
      <% if current_competition %>
        <%= render partial: 'bid_form', locals: {dj: dj} %>
      <% else %>
        <%= link_to "Sign in to bid!", new_competition_session_url %>
      <% end %>
    </li>
    
  <% end %>
</ul>