<p>
  On February 10th, some of the best South Asian DJs are coming together to play their music for #brownkids all around America.
  <ol>
    <li>
      <strong>Attend!</strong>
      <p>Join the <%=link_to "Facebook event", "//www.facebook.com/events/346163575480157/", target: '_blank'%> and invite all your friends!</p>
    </li>
    <li>
      <strong>Vote!</strong>
      <p>Visit the <%= link_to "bids page", bids_path %> and vote for your favorite bids!</p>
    </li>
    
  </ol>
</p>

<h3>Sponsors</h3>
<ol>
  <li>
    <strong>Bid on a DJ</strong>
    <p>You can be as funny or serious as you like with your bids. You can submit as many <i>different</i> bids as you want. Think of it like a game of Apples to Apples. DJs will pick their favorite bids. You can offer them shoutouts, Facebook likes, or gulab jamuns.</p>
  </li>
  <li>
    <strong>Get votes on your bids</strong>
    <p>You can get anyone to vote on your bids without creating an account. We restrict votes by IP so the same person can't sit their and vote all day though.</p>
  </li>
</ol>
<p>
  Every time a sponsor submits a bid or someone votes on a bid, <%= link_to "@collegedesis", "//twitter.com/collegedesis", target: '_blank' %> will tweet about it. The goal is to get as many people to come to #TheBestBrownParty as possible. The more involved you get, the more involved the DJs will get and the more publicity your event gets.
</p>

<h3>DJs</h3>
<p>If you're a DJ, who is not listed on the <%= link_to "djs page", djs_path %>, you should email us at <%= mail_to "brownkids@collegedesis.com" %></p>