<!DOCTYPE html>
<html>
<head>
  <title>Bidwars</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="header">
    <h1><span>College</span>Desis</h1>
    <div class="subtitle">
      Connecting all the #brownkids in America
    </div>
  </div>
  <div class="nav">
    <% if current_competition %>
      <%= link_to "Sign Out", destroy_competition_session_path, method: 'delete' %>
    <% else %>
      <%= link_to "Sign In", new_competition_session_path %>
    <% end %>
  </div>
  <div class="content">
    <div class="main">
      <%= yield %>
    </div>
    <aside>
      <h1>The Best Brown Party!</h1>
      <h3>Round 2</h3>
    <p>
      On February 10th, some of the best South Asian DJs are coming together to play their music for #brownkids all around America. 
    </p>
    <p>
      Each hour of this 8 hour party is sponsored by an amazing event or competition from around the country. To help promote these events, we're auctioning off DJ time. If you're one of these competitions <% if !current_competition %> <%= link_to "sign in", new_competition_session_path %><% end %> and bid to get these DJs to play during your hour!
    </p>
    </aside>
  </div>
  <div class="footer">
    &copy; CollegeDesis
  </div>
</body>

</html>

