<!DOCTYPE html>
<html>
<head>
  <title>Bidwars</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="header">
  <% if current_competition %>
  <%= link_to "Sign Out", destroy_competition_session_path, method: 'delete' %>
  <% else %>
  <% link_to "Sign In", new_competition_session_path %>
  <% end %>
</div>
<%= yield %>

</body>
</html>
