<!DOCTYPE html>
<html>
<head>
  <title>Bidwars</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="header">
    <h1><span>College</span>Desis</h1>
    <div class="subtitle">
      Connecting all the #brownkids in America
    </div>
  </div>
  <div class="nav">
    <ul>
      <li><%= link_to "See Bids", root_path %></li>
      <li><%= link_to "Bid on a DJ", djs_path %></li>
      <li><%= link_to "About", about_path %></li>
      <li>
        <% if current_competition %>
          <%= link_to "Sign Out", destroy_competition_session_path, method: 'delete' %>
        <% else %>
          <%= link_to "Sign In", new_competition_session_path %>
        <% end %>
      </li>
    </ul>
    
  </div>
  <div class="content">
    
      <% if flash[:notice] %>
        <p><%= flash[:notice] %></p>
      <% end %>
      <% if flash[:alert] %>
        <p><%= flash[:alert] %></p>
      <% end %>
      <% if flash[:errors] %>
        <% for error in flash[:errors].messages %>
          <%= error %>
        <% end %>
      <% end %>
      <%= yield %>
  </div>
  <div class="footer">
    &copy; CollegeDesis
  </div>
</body>

</html>

